$bg1: #394508;
$bg2: #FFFFFF;
$bg3: #EDEDED;

$accent1: #D2FD9C;
$accent2: #77912A;
$accent3: #619111;

$heading: #394508;
$paragraph1: #000000;
$paragraph2: #5D5D5D;
$subhead: #CBCBCB;
$overlay: #D9D9D9;


// font sizes
$header1: 4.2rem;
$header2: 3.2rem;
$header3: 2rem;
$paragraph: 1.6rem;
$link: 1.2rem;
$caption: 1rem;

@media (max-width: 1279px) and (min-width: 800px) {
    $header1: 3.6rem;
    $header2: 2.8rem;
    $paragraph: 1.6rem;
    $link: 1.15rem;
    $caption: 1.1rem;
}

@media (max-width: 799px) and (min-width: 320px) {
    $header1: 2.8rem;
    $header2: 2.2rem;
    $paragraph: 1.6rem;
    $link: 1.1rem;
    $caption: 1.1rem;
}