// $main-text: #394508;
// $sub-text: #000000;
// $mina-bg: #D2FD9C;
// $sub1-bg: #ffffff;
// $sub2-bg: #619111;
// $sub3-bg: #77912A;
// $sub4-bg: #5D5D5D;

$bg1: #394508;
$bg2: #FFFFFF;
$bg3: #EDEDED;

$accent1: #D2FD9C;
$accent2: #77912A;
$accent3: #619111;

$heading: #394508;
$paragraph1: #000000;
$paragraph2: #5D5D5D;
$subhead: #CBCBCB;
$overlay: #D9D9D9;



$header1: 4.2rem;
$header2: 3.2rem;
$header3: 2rem;
$paragraph: 1.6rem;
$link: 1.2rem;
$caption: 1rem;